{% assign sum = 0 %}
{% for category in site.categories %} 
    {% assign sum = sum | plus: category[1].size %}
{% endfor %}

<nav class="nav__list">
  <input id="ac-toc" name="accordion-toc" type="checkbox" />
  <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label }}</label>
  <ul class="nav__items" id="category_tag_menu">
      <li>
            📚 Total <u>{{sum}}</u> posts 
      </li>
      <li>
        <span class="nav__sub-title">Post lists</span>

            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "Machine learning" %}
                        <li><a href="/categories/machine-learning" class="">Machine learning ({{category[1].size}})</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "Deep learning" %}
                        <li><a href="/categories/deep-learning" class="">Deep learning ({{category[1].size}})</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "Medical image analysis" %}
                        <li><a href="/categories/medical-image-analysis" class="">Medical image analysis ({{category[1].size}})</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul>
                {% for category in site.categories %}
                    {% if category[0] == "Python" %}
                        <li><a href="/categories/python" class="">Python ({{category[1].size}})</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </span> 
      </li>
  </ul>
</nav>
